[Desktop Entry]
Name=Scriptinator
Name[en_GB]=Scriptinator
Comment=fico lancia script
Comment[en_GB]=fico lancia script 2

Icon=/home/tubbadu/.local/share/plasma/plasmoids/com.github.scriptinator/contents/img/scriptinator_border.png
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=tubbadu
X-KDE-PluginInfo-Email=tubbadu@gmail.com
X-KDE-PluginInfo-Name=com.github.scriptinator
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Website=https://github.com/tubbadu/Scriptinator
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPL
