[Desktop Entry]
Name=Scriptinator
Name[en_GB]=Scriptinator
Comment=Behold! the Scriptinator!\nlaunch custom script and bash commands with a simple mouse gesture
Comment[en_GB]=Behold! the Scriptinator!\nlaunch custom script and bash commands with a simple mouse gesture

Icon=scriptnew
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=tubbadu
X-KDE-PluginInfo-Email=tubbadu@gmail.com
X-KDE-PluginInfo-Name=com.github.scriptinator
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=https://github.com/tubbadu/Scriptinator
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPL
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices
